@import "../utilities/mixins";

footer {
    div {
        background-color: map-get($color , terciario);
        height: 70px;

        @include flex(row, wrap, space-evenly, center, 0);

        a {
            @include flex(column, nowrap, center, center, 0.5rem);
            text-decoration: none;
            color: map-get($color, secundario);
            font-size: map-get($medidas, md);
            margin: 0 1rem;

            &:hover {
                color: map-get($color, cuaternario);
            }
        }


        i {
            font-size: map-get($medidas, md);
            margin-bottom: 1px;
        }

    }

}

@media (max-width:768px) {

    div {
        @include flex(column, wrap, space-evenly, center, 1rem);
    }

    a {
        font-size: map-get($medidas, sm);
    }

    i {
        font-size: map-get($medidas, sm);
    }
}

@media (max-width:320px) {
    div {
        @include flex(column, wrap, space-evenly, center, 0.5rem);

    }

    a {
        font-size: map-get($medidas, xs);
    }

    i {
        font-size: map-get($medidas, xs);
    }
}