footer {
    div {
        background-color: map-get($color , terciario);
        height: 70px;

        div {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;

            a {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                color: map-get($color, secundario);
                font-size: map-get($medidas, md);

            }

            i {
                font-size: map-get($medidas, md);
                margin-bottom: 1px;

            }

            &hover {
                color: map-get($color, terciario);
            }
        }

    }

}