header {

    div h1 {

        font-size: map-get($medidas, lg);

    }

}

.navbar {
    color: map-get($color, secundario);
    text-decoration: none;
    list-style: none;
    font-size: map-get($medidas, md);

}










//  header {
//   

//          .navbar {
//              @include flex(row, wrap, flex-start, flex-start, 1.25rem);
//              color: map-get($color, secundario);
//              font-size: map-get($medidas, md);
//            
//         }
//      }
//  }