header {

    div h1 {
        display: flex;
        font-size: map-get($medidas, lg);

    }

}

// .navbar {
//     @include flex(row, wrap, space-between, center, .0625rem)
// }

.navbar-nav {
    @include flex(row, nowrap, center, center, 0)
}

.nav-item {
    list-style: none;

}

.nav-link {
    color: map-get($color, secundario);
    text-decoration: none;
    font-size: map-get($medidas, md);
    text-align: center;

    &:hover {
        color: map-get($color, terciario);

    }
}