main {

    div {
        .carousel-item {
            object-fit: contain;
            padding: .3125rem;
            max-height: 18.75rem;

            div {
                font-size: map-get($medidas, lg);
                color: white;
            }

        }

    }
}

.carousel-caption {

    background-color: rgba(map-get($grays, "500"), 0.5);
    border-radius: .625rem;
}

.card {
    max-height: 31.25rem;

}

.card-img-top {
    margin-top: .3125rem;
    object-fit: cover;
    height: 15.625rem;

}